html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}